# TELECOM CASE STUDY

**Objective-** Client wants to know what the factors which contribute to churn are. They would like to have a system through which they could identify such customer which could also help them decide who the one who could not be retained are and the customer who could be retained what should be the appropriate incentive for them. They have goal to bring down the churn rate to the minimum.

In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
os.getcwd()

'C:\\Users\\HP'

In [4]:
os.chdir('E:\\Profond AI\\Real time projects\\TELECOM CASE STUDY')

Data is available in a workbook having two sheets- Active and churn customers

In [5]:
data=pd.read_excel("Case_study_data 2.xlsx", sheet_name=0, index_col=0)

In [6]:
data.head()

,ACCOUNT_STATUS,FIRST_COMMUNICATION_DATE,UPGRADE_DATE,SERVICE_ PLAN,MODEL,SALES_CHANNEL,DIRECT_INDIRECT_CHANNEL,SALES_SOURCE,COMPANY_SOURCE_NAME,FIRST_NAME,...,WARRANTY_NAME,MOST_RECENT_SALES_CHANNEL,GENDER,DATE_OF_BIRTH,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,COMPUTER_OWNER,Churn
SITE_ACCOUNT_NUMBER,,,,,,,,,,,,,,,,,,,,,
AMR-11112345,Active,2001-11-27,2003-12-14,NaN,HN9000,Vars,Indirect,UNKNOWN,HNS Customers,Ace,...,0,HN7000 Upgrade,2.0,1-5-1943,69,0,1.0,0.0,N,0
AMR-14837287,Active,2003-05-02,2006-08-08,Pro,HN7000S,Sales Agents,Indirect,NCC,HNS Customers,Robert,...,0,Retail,2.0,28-12-1969,43,4,1.0,0.0,N,0
AMR-14837803,Active,2001-01-28,2004-03-17,Power150,HN9000,Call Center,Indirect,NCC,HNS Customers,EDWARD,...,0,National Sales,2.0,20-7-1954,58,4,1.0,0.0,N,0
AMR-14837821,Active,2001-11-20,2005-03-27,Power150,DW6000,Sales Agents,Direct,NaN,HNS Customers,Dannya,...,0,Direct,NaN,10-5-1990,22,6,1.0,1.0,NaN,0
AMR-14839297,Active,2002-02-27,2004-06-14,Home,HN7000S,Call Center,Indirect,TAG,HNS Customers,Joannea,...,0,DW6000 Upgrade,1.0,11-5-1976,36,7,0.0,0.0,NaN,0

In [7]:
data2=pd.read_excel("Case_study_data 2.xlsx", sheet_name=1, index_col=0)

In [8]:
data2.head()

,ACCOUNT_STATUS,FIRST_COMMUNICATION_DATE,UPGRADE_DATE,SERVICE_PLAN,MODEL,SALES_CHANNEL,DIRECT_INDIRECT_CHANNEL,SALES_SOURCE,COMPANY_SOURCE_NAME,FIRST_NAME,...,WARRANTY_NAME,MOST_RECENT_SALES_CHANNEL,GENDER,DATE_OF_BIRTH,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,COMPUTER_OWNER,Churn
SITE_ACCOUNT_NUMBER,,,,,,,,,,,,,,,,,,,,,
AMR-53205840,Closed,2002-01-18,2004-01-03,Professional,DW6000,NaN,Indirect,Perfect 10,HNS Customers,Rennisa,...,NaN,Dealer-Generated Sale,2.0,27-10-1964,48.0,0,.,NaN,N,1
AMR-53383136,Closed,2002-01-02,2004-07-28,SO,DW6000,Retail/Others,Indirect,ValueElectronics,HNS Customers,Howard,...,NaN,National Sales,NaN,22-10-1965,47.0,5,0,0.0,Y,1
AMR-53608585,Closed,2002-01-06,2005-04-27,NaN,DW6000,Retail/Others,Indirect,TAG,HNS Customers,Pavel,...,NaN,Direct,2.0,20-3-1951,61.0,8,1,0.0,Y,1
AMR-53610590,Closed,2002-01-05,NaT,SO,DW4000,NaN,Indirect,TAG,HNS Customers,Stoneysmita,...,NaN,Direct,1.0,27-3-1948,64.0,0,.,NaN,Y,1
AMR-53612154,Closed,2002-01-05,2005-11-12,Professional,DW7000,Retail/Others,Indirect,Perfect 10,HNS Customers,Bryana,...,NaN,Dealer-Generated Sale,1.0,25-8-1956,56.0,6,0,0.0,N,1

In [9]:
data2.shape

(10000, 29)

In [10]:
#merge both the data
df=data2.append(data)

C:\Users\HP\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [11]:
df.head()

,ACCOUNT_STATUS,ADDRESS,AGE,CITY,COMPANY_SOURCE_NAME,COMPUTER_OWNER,Churn,DATE_OF_BIRTH,DIRECT_INDIRECT_CHANNEL,EMAIL_ADDRESS,...,SALES_CHANNEL,SALES_SOURCE,SATELLITE,SERVICE_ PLAN,SERVICE_PLAN,SITE_TYPE_DESC,STATE,UPGRADE_DATE,WARRANTY_NAME,ZIPCODE
SITE_ACCOUNT_NUMBER,,,,,,,,,,,,,,,,,,,,,
AMR-53205840,Closed,826 Nesom Rd.,48,TRINITY,HNS Customers,N,1,27-10-1964,Indirect,rbranson@southerninspection.co,...,NaN,Perfect 10,SPACEWAY3,NaN,Professional,Broadband Remote,TX,2004-01-03,NaN,75862
AMR-53383136,Closed,25 Valley View Lane,47,AVA,HNS Customers,Y,1,22-10-1965,Indirect,howvood@hughes.net,...,Retail/Others,ValueElectronics,SPACEWAY3,NaN,SO,Broadband Remote,MO,2004-07-28,NaN,65608
AMR-53608585,Closed,920 rockhold dr,61,THURMONT,HNS Customers,Y,1,20-3-1951,Indirect,pavel.groisman@hughes.net,...,Retail/Others,TAG,SPACEWAY3,NaN,NaN,Broadband Remote,MD,2005-04-27,NaN,21788
AMR-53610590,Closed,2501dune forest,64,KENEDY,HNS Customers,Y,1,27-3-1948,Indirect,jfary@hughes.net,...,NaN,TAG,SPACEWAY3,NaN,SO,Broadband Remote,TX,NaT,NaN,78119
AMR-53612154,Closed,RR 1 Box 134-1,56,LOVELL,HNS Customers,N,1,25-8-1956,Indirect,dp_photo@hughes.net,...,Retail/Others,Perfect 10,SPACEWAY3,NaN,Professional,Broadband Remote,ME,2005-11-12,NaN,4051

In [12]:
df.shape

(19998, 30)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19998 entries, AMR-53205840 to AMR-49999972
Data columns (total 30 columns):
ACCOUNT_STATUS               19983 non-null object
ADDRESS                      19936 non-null object
AGE                          19990 non-null object
CITY                         19998 non-null object
COMPANY_SOURCE_NAME          19980 non-null object
COMPUTER_OWNER               13701 non-null object
Churn                        19998 non-null int64
DATE_OF_BIRTH                19990 non-null object
DIRECT_INDIRECT_CHANNEL      19170 non-null object
EMAIL_ADDRESS                19959 non-null object
FEEDBACK                     16056 non-null object
FIRST_COMMUNICATION_DATE     19989 non-null datetime64[ns]
FIRST_NAME                   19972 non-null object
GENDER                       17489 non-null float64
INCOME                       19681 non-null object
LAST_NAME                    19991 non-null object
MARITAL_STATUS               19399 non-null object
MODEL                        18613 non-null object
MOST_RECENT_SALES_CHANNEL    19971 non-null object
PRESENCE_OF_CHILDREN         17432 non-null float64
SALES_CHANNEL                14491 non-null object
SALES_SOURCE                 19016 non-null object
SATELLITE                    18590 non-null object
SERVICE_ PLAN                8760 non-null object
SERVICE_PLAN                 8518 non-null object
SITE_TYPE_DESC               19925 non-null object
STATE                        19932 non-null object
UPGRADE_DATE                 19110 non-null datetime64[ns]
WARRANTY_NAME                18361 non-null object
ZIPCODE                      19932 non-null object
dtypes: datetime64[ns](2), float64(2), int64(1), object(25)
memory usage: 4.7+ MB

In [14]:
#find the null values
df.isnull().sum()

ACCOUNT_STATUS                  15
ADDRESS                         62
AGE                              8
CITY                             0
COMPANY_SOURCE_NAME             18
COMPUTER_OWNER                6297
Churn                            0
DATE_OF_BIRTH                    8
DIRECT_INDIRECT_CHANNEL        828
EMAIL_ADDRESS                   39
FEEDBACK                      3942
FIRST_COMMUNICATION_DATE         9
FIRST_NAME                      26
GENDER                        2509
INCOME                         317
LAST_NAME                        7
MARITAL_STATUS                 599
MODEL                         1385
MOST_RECENT_SALES_CHANNEL       27
PRESENCE_OF_CHILDREN          2566
SALES_CHANNEL                 5507
SALES_SOURCE                   982
SATELLITE                     1408
SERVICE_ PLAN                11238
SERVICE_PLAN                 11480
SITE_TYPE_DESC                  73
STATE                           66
UPGRADE_DATE                   888
WARRANTY_NAME                 1637
ZIPCODE                         66
dtype: int64

In [15]:
df['ACCOUNT_STATUS'].value_counts()

Closed      9985
Active      9985
Inactive      13
Name: ACCOUNT_STATUS, dtype: int64

In [16]:
df['ACCOUNT_STATUS']=df['ACCOUNT_STATUS'].fillna(df['ACCOUNT_STATUS'].mode()[0])
df['AGE']=df['AGE'].fillna(df['AGE'].mode()[0])
df['GENDER']=df['GENDER'].fillna(df['GENDER'].mean())
df.drop(['DATE_OF_BIRTH'],axis=1,inplace=True)
df.drop(['EMAIL_ADDRESS'],axis=1,inplace=True)
df['COMPUTER_OWNER']=df['COMPUTER_OWNER'].fillna(df['COMPUTER_OWNER'].mode()[0])
df['COMPANY_SOURCE_NAME']=df['COMPANY_SOURCE_NAME'].fillna(df['COMPANY_SOURCE_NAME'].mode()[0])
df['FEEDBACK']=df['FEEDBACK'].fillna(df['FEEDBACK'].mode()[0])

In [17]:
df.isnull().sum()

ACCOUNT_STATUS                   0
ADDRESS                         62
AGE                              0
CITY                             0
COMPANY_SOURCE_NAME              0
COMPUTER_OWNER                   0
Churn                            0
DIRECT_INDIRECT_CHANNEL        828
FEEDBACK                         0
FIRST_COMMUNICATION_DATE         9
FIRST_NAME                      26
GENDER                           0
INCOME                         317
LAST_NAME                        7
MARITAL_STATUS                 599
MODEL                         1385
MOST_RECENT_SALES_CHANNEL       27
PRESENCE_OF_CHILDREN          2566
SALES_CHANNEL                 5507
SALES_SOURCE                   982
SATELLITE                     1408
SERVICE_ PLAN                11238
SERVICE_PLAN                 11480
SITE_TYPE_DESC                  73
STATE                           66
UPGRADE_DATE                   888
WARRANTY_NAME                 1637
ZIPCODE                         66
dtype: int64

In [18]:
#making marital_status column a int type variable
df['MARITAL_STATUS']=df['MARITAL_STATUS'].replace(to_replace=".",value=3)
df['MARITAL_STATUS']=df['MARITAL_STATUS'].fillna(df['MARITAL_STATUS'].mean())

In [19]:
df['INCOME'].value_counts()

0    5060
6    2648
4    2134
3    2109
5    2051
7    1436
8     976
A     744
9     698
2     552
D     430
1     384
C     278
B     181
Name: INCOME, dtype: int64

In [20]:
df['INCOME']=df['INCOME'].replace(to_replace="A",value=10)
df['INCOME']=df['INCOME'].replace(to_replace="B",value=11)
df['INCOME']=df['INCOME'].replace(to_replace="C",value=12)
df['INCOME']=df['INCOME'].replace(to_replace="D",value=13)

In [21]:
df['INCOME']=df['INCOME'].fillna(df['INCOME'].mean())

In [22]:
df=df.drop(columns=['SERVICE_ PLAN','SERVICE_PLAN','UPGRADE_DATE','SALES_SOURCE','SATELLITE','WARRANTY_NAME','FIRST_NAME',
                   'LAST_NAME','ADDRESS','CITY'])

In [23]:
df.isnull().sum()

ACCOUNT_STATUS                  0
AGE                             0
COMPANY_SOURCE_NAME             0
COMPUTER_OWNER                  0
Churn                           0
DIRECT_INDIRECT_CHANNEL       828
FEEDBACK                        0
FIRST_COMMUNICATION_DATE        9
GENDER                          0
INCOME                          0
MARITAL_STATUS                  0
MODEL                        1385
MOST_RECENT_SALES_CHANNEL      27
PRESENCE_OF_CHILDREN         2566
SALES_CHANNEL                5507
SITE_TYPE_DESC                 73
STATE                          66
ZIPCODE                        66
dtype: int64

In [24]:
df['SALES_CHANNEL']=df['SALES_CHANNEL'].replace(to_replace="Call Centers",value="Call Center")
df['SALES_CHANNEL']=df['SALES_CHANNEL'].replace(to_replace="Retail/Others",value="Retail/others")
df['SALES_CHANNEL']=df['SALES_CHANNEL'].replace(to_replace="Web Orders",value="Web orders")

In [25]:
df['DIRECT_INDIRECT_CHANNEL']=df['DIRECT_INDIRECT_CHANNEL'].fillna(df['DIRECT_INDIRECT_CHANNEL'].mode()[0])
df['MODEL']=df['MODEL'].fillna(df['MODEL'].mode()[0])
df['PRESENCE_OF_CHILDREN']=df['PRESENCE_OF_CHILDREN'].fillna(df['PRESENCE_OF_CHILDREN'].median())
df['SALES_CHANNEL']=df['SALES_CHANNEL'].fillna(df['SALES_CHANNEL'].mode()[0])

In [27]:
df.isnull().sum()

ACCOUNT_STATUS                0
AGE                           0
COMPANY_SOURCE_NAME           0
COMPUTER_OWNER                0
Churn                         0
DIRECT_INDIRECT_CHANNEL       0
FEEDBACK                      0
FIRST_COMMUNICATION_DATE      9
GENDER                        0
INCOME                        0
MARITAL_STATUS                0
MODEL                         0
MOST_RECENT_SALES_CHANNEL    27
PRESENCE_OF_CHILDREN          0
SALES_CHANNEL                 0
SITE_TYPE_DESC               73
STATE                        66
ZIPCODE                      66
dtype: int64

In [28]:
df.shape

(19998, 18)

In [29]:
df['AGE']=df['AGE'].replace(to_replace="NULL",value=0)
df['AGE']=df['AGE'].replace(to_replace=".",value=0)

In [30]:
df['ZIPCODE']=df['ZIPCODE'].replace(to_replace=["nan",' '],value=0)
df.drop(['FIRST_COMMUNICATION_DATE'],axis=1,inplace=True)

In [31]:
#Anova test
import statsmodels.api as sm
from statsmodels.formula.api import ols

mod = ols('Churn ~ ACCOUNT_STATUS',data=df).fit()

In [32]:
aov_table = sm.stats.anova_lm(mod, typ=2)
print (aov_table)

                    sum_sq       df             F  PR(>F)
ACCOUNT_STATUS  4984.52245      2.0  3.327175e+06     0.0
Residual          14.97750  19995.0           NaN     NaN

In [33]:
mod2 = ols('Churn ~ COMPUTER_OWNER',data=df).fit()
aov_table2 = sm.stats.anova_lm(mod2, typ=2)
print (aov_table2)

                    sum_sq       df            F  PR(>F)
COMPUTER_OWNER   521.17343      1.0  2327.071029     0.0
Residual        4478.32652  19996.0          NaN     NaN

In [34]:
mod3 = ols('Churn ~ DIRECT_INDIRECT_CHANNEL',data=df).fit()
aov_table3 = sm.stats.anova_lm(mod3, typ=2)
print (aov_table3)

                              sum_sq       df          F        PR(>F)
DIRECT_INDIRECT_CHANNEL    17.568522      2.0  35.255665  5.195094e-16
Residual                 4981.931428  19995.0        NaN           NaN

In [35]:
mod4 = ols('Churn ~ FEEDBACK',data=df).fit()
aov_table4 = sm.stats.anova_lm(mod4, typ=2)
print (aov_table4)

              sum_sq       df           F         PR(>F)
FEEDBACK   233.00178      1.0  977.468873  1.537731e-209
Residual  4766.49817  19996.0         NaN            NaN

In [36]:
mod5 = ols('Churn ~ MODEL',data=df).fit()
aov_table5 = sm.stats.anova_lm(mod5, typ=2)
print (aov_table5)

               sum_sq       df           F  PR(>F)
MODEL     1026.564918      6.0  860.910935     0.0
Residual  3972.935032  19991.0         NaN     NaN

In [37]:
mod6 = ols('Churn ~ MOST_RECENT_SALES_CHANNEL',data=df).fit()
aov_table6 = sm.stats.anova_lm(mod6, typ=2)
print (aov_table6)

                                sum_sq       df            F  PR(>F)
MOST_RECENT_SALES_CHANNEL  3112.702244     20.0  1651.513358     0.0
Residual                   1880.045641  19950.0          NaN     NaN

In [38]:
mod6 = ols('Churn ~ SALES_CHANNEL',data=df).fit()
aov_table6 = sm.stats.anova_lm(mod6, typ=2)
print (aov_table6)

                    sum_sq       df         F    PR(>F)
SALES_CHANNEL     2.471019      4.0  2.471623  0.042418
Residual       4997.028931  19993.0       NaN       NaN

In [39]:
mod7 = ols('Churn ~ SITE_TYPE_DESC',data=df).fit()
aov_table7 = sm.stats.anova_lm(mod7, typ=2)
print (aov_table7)

                     sum_sq       df            F  PR(>F)
SITE_TYPE_DESC   784.551568      1.0  3724.533151     0.0
Residual        4196.665797  19923.0          NaN     NaN

In [40]:
mod8 = ols('Churn ~ STATE',data=df).fit()
aov_table8 = sm.stats.anova_lm(mod8, typ=2)
print (aov_table8)

               sum_sq       df         F        PR(>F)
STATE       50.304567     46.0  4.408506  1.940703e-21
Residual  4932.689363  19885.0       NaN           NaN

In [41]:
df.drop(['STATE'],axis=1,inplace=True)
df.drop(['DIRECT_INDIRECT_CHANNEL'],axis=1,inplace=True)
df.drop(['FEEDBACK'],axis=1,inplace=True)

In [42]:
df.AGE.unique()

array([48., 47., 61., 64., 56., 72., 55., 90., 42., 71., 51., 59., 32.,
       37., 58., 52., 57., 70., 53., 54., 62., 24., 38., 74., 50., 28.,
       81., 65., 68., 69., 31., 27., 25., 43., 60., 30., 36., 63., 49.,
       41., 44., 39., 23., 45., 66., 35., 67., 46., 29., 83., 34., 33.,
       40., 79., 75., 26., 89., 73., 86., 77., 22., 84., 76., 80., 78.,
        0., 82., 92., 88.])

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19998 entries, AMR-53205840 to AMR-49999972
Data columns (total 14 columns):
ACCOUNT_STATUS               19998 non-null object
AGE                          19998 non-null float64
COMPANY_SOURCE_NAME          19998 non-null object
COMPUTER_OWNER               19998 non-null object
Churn                        19998 non-null int64
GENDER                       19998 non-null float64
INCOME                       19998 non-null float64
MARITAL_STATUS               19998 non-null float64
MODEL                        19998 non-null object
MOST_RECENT_SALES_CHANNEL    19971 non-null object
PRESENCE_OF_CHILDREN         19998 non-null float64
SALES_CHANNEL                19998 non-null object
SITE_TYPE_DESC               19925 non-null object
ZIPCODE                      19932 non-null float64
dtypes: float64(6), int64(1), object(7)
memory usage: 2.9+ MB

In [44]:
df['AGE'].corr(df['Churn'])

0.23293428768524352

In [45]:
df['GENDER'].corr(df['Churn'])

-0.02136842765876223

In [46]:
df['INCOME'].corr(df['Churn'])

0.003004733328211427

In [47]:
df['MARITAL_STATUS'].corr(df['Churn'])

0.39274011624177346

In [48]:
df['PRESENCE_OF_CHILDREN'].corr(df['Churn'])

0.14515877544090322

In [49]:
df['ZIPCODE'].corr(df['Churn'])

0.0031129714023687043

In [50]:
#made a column having catagorical variables so that it can be used for one hot encoding
columns=['ACCOUNT_STATUS','COMPANY_SOURCE_NAME','COMPUTER_OWNER','MODEL','MOST_RECENT_SALES_CHANNEL',
         'SALES_CHANNEL','SITE_TYPE_DESC']

In [51]:
len(columns)

7

In [52]:
def category_onehot_multcols(multcolumns):
    df_final=df
    i=0
    for fields in multcolumns:
        
        print(fields)
        df1=pd.get_dummies(df[fields],drop_first=True)
        
        df.drop([fields],axis=1,inplace=True)
        if i==0:
            df_final=df1.copy()
        else:
            
            df_final=pd.concat([df_final,df1],axis=1)
        i=i+1
       
        
    df_final=pd.concat([df,df_final],axis=1)
        
    return df_final

In [53]:
df=category_onehot_multcols(columns)

ACCOUNT_STATUS
COMPANY_SOURCE_NAME
COMPUTER_OWNER
MODEL
MOST_RECENT_SALES_CHANNEL
SALES_CHANNEL
SITE_TYPE_DESC

In [54]:
df.shape

(19998, 41)

In [60]:
df.isnull().sum()

AGE                       0
Churn                     0
GENDER                    0
INCOME                    0
MARITAL_STATUS            0
PRESENCE_OF_CHILDREN      0
ZIPCODE                  66
Closed                    0
Inactive                  0
Y                         0
DW4020                    0
DW6000                    0
DW7000                    0
HN7000S                   0
HN9000                    0
UNK                       0
Business Edition          0
Classic Migration         0
DPC Classic upgrade       0
DW6000 Upgrade            0
DW7000 Upgrade            0
Dealer - Direct Order     0
Dealer-Generated Sale     0
Dial Return Upgrade       0
Direct                    0
Distributor Sales Age     0
EXPRESS REPAIR BASIC      0
HN7000 Upgrade            0
HN9000 Upgrade            0
Hughes Sales Agents       0
National Sales            0
Retail                    0
Retail                    0
Retail - Direct Order     0
UNKNOWN                   0
Used Equipment            0
Retail/others             0
Sales Agents              0
Vars                      0
Web orders                0
Spaceway                  0
dtype: int64

In [61]:
df['ZIPCODE']=df['ZIPCODE'].fillna(df['ZIPCODE'].mean())

In [62]:
#train and test the model
from sklearn.model_selection import train_test_split

In [63]:
X_train,X_test,y_train,y_test=train_test_split(df.drop('Churn',axis=1),
                                               df['Churn'],test_size=0.3,
                                               random_state=101)

In [64]:
#performing the logistic regression
from sklearn.linear_model import LogisticRegression

In [65]:
logmodel=LogisticRegression()
logmodel.fit(X_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [67]:
predictions=logmodel.predict(X_test)

In [70]:
from sklearn.metrics import confusion_matrix

In [72]:
accuracy=confusion_matrix(y_test,predictions)

In [74]:
accuracy

array([[2993,    0],
       [   8, 2999]], dtype=int64)

In [76]:
from sklearn.metrics import accuracy_score

In [77]:
accuracy=accuracy_score(y_test,predictions)
accuracy

0.9986666666666667